version: '3.8'

services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./static:/app/static
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
    environment:
      - DEBUG=True
      - DB_NAME=flood_ai
      - DB_USER=aruka
      - DB_PASSWORD=aruka
      - DB_HOST=db
      - DB_PORT=5432

  db:
    ports:
      - "5432:5432"
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: flood_ai
      POSTGRES_USER: aruka
      POSTGRES_PASSWORD: aruka

volumes:
  postgres_data: